{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='confirm_delete.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
   <div class="bg-img">
      <div class="content">
         <header><center>Confirm Deletion</center></header>
         <form action="/delete_stock/{{ stock['product_id'] }}" method="POST">

            <div class="field3 name" >
               Product Name : 
               <span>{{ stock['product_name'] }}</span>
               
            </div>

            <div class="field3 name space" >
               Quantity :
               <span>{{ stock['quantity'] }}</span>
               
            </div>

            <div class="field3 name space" >
               Unit price :
               <span>{{ stock['unit_price'] }}</span>
               
            </div>
        
            <div class="field space">
               <input type="submit" value="Confirm" class="btn btn-danger">            
            </div>
         </form>
         
      </div>
   </div>

</body>



{% endblock %}
