{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Menu Coffee Time</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  </head>

  <img class="responsive-image" src="{{ url_for('static', filename='mnn.png') }}" alt="Image Description">
  <div class="bg-img2 menu">
    <h1 class="space-header">Beverage</h1>


    <div class="menu-container">
        {% for product in products %}
            <div class="box">
                <div class="box-img">
                    <img src="static/coffee.jpg">
                </div>
                <h2>{{ product.product_name }}</h2>
                <span>${{ product.unit_price }}</span>
                <i class="bx bx-cart-alt"></i>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}