<!DOCTYPE html>
<html>
<head>
    <title>Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="bar">
        <nav>
            <h2 class="logo">
                Coffee <span>Time</span>
            </h2>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
                <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
            </ul>

            <div >
                <a href="{{ url_for('login') }}" class="txt">Log in</a>
                <a href="{{ url_for('signup') }}"><button type="button">Get started</button></a>
            </div>
            
        </nav>
    </div>
</body>
</html>
