{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='confirm_delete.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div class="bg-img">
    <div class="content">
        <header><center>Order Summary</center></header>

        {% if total_items == 0 %}
            <p>Your cart is empty.</p>
        {% else %}
        <table>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>


            {% for product_name, quantity in cart.items() %}
                {% for product in products %}
                    {% if product.product_name == product_name %}
                        <tr>
                            <td>{{ product_name }}</td>
                            <td>{{ quantity }}</td>
                            <td>${{ product.unit_price * quantity }}</td>
                        </tr>
                    
                    {% endif %}
                    
                {% endfor %}
            {% endfor %}
                        
            <tr>
                <th></th>
                <th>{{ total_units }}</th>
                <th>${{total_price }}</th>
            </tr>

        </table>

        <div class="order-summary-btn">
            <a  href="{{ url_for('cart') }}">
                <button >
                    Cancel
                </button>

            </a>
            
            <button>
                Confirm
            </button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
