{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='confirm_delete.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<div class="bg-img">
    <div class="content-order">
        <header><center>Order Summary</center></header>

        {% if total_items == 0 %}
            <p>Your cart is empty.</p>
        {% else %}
        <form action="{{ url_for('add_order') }}" method="post">  <!-- Add the form element -->
            <table class="styled-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                {% for product_name, quantity in cart.items() %}
                    {% for product in products %}
                        {% if product.product_name == product_name %}
                        <tbody>
                            <tr>
                                <td><img src="{{ url_for('static', filename='coffee.jpg') }}" alt="{{ product_name }} Image" width="50" height="60"></td>
                                <td>{{ product_name }}</td>
                                <td>{{ quantity }}</td>
                                <td>${{ product.unit_price * quantity }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" onclick="removeFromCart('{{ product_name }}')">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <tr>
                    <th></th>
                    <th></th>
                    <th>{{ total_units }}</th>
                    <th>${{total_price }}</th>
                    <th></th>
                </tr>
            </table>
            <div class="order-summary-btn">
                <a href="{{ url_for('cart') }}">
                    <button type="button">
                        Cancel
                    </button>
                </a>
                <button type="submit" id="confirmBtn">
                    Confirm
                </button>
            </div>
        </form> 
        {% endif %}
    </div>
</div>

<script>
    function removeFromCart(productName) {
        // Send a Fetch API request to the server to remove the item from the cart
        fetch(`/remove_from_cart/${productName}`, {
            method: 'POST',
        })
        .then(response => {
            // Reload the page after successful removal
            if (response.ok) {
                location.reload();
            }
        })
        .catch(error => {
            console.error('Error removing item from cart:', error);
        });
    }
</script>

{% endblock %}
